
<!--Ieva sagaitis, ievas@bu.edu -->
<!-- Displays the create review form when creating a review. -->
<!-- project/templates/project/create_review_form.html -->

{% extends 'project/base.html' %}

{% block content %}

<br><br>

<div class="review-card" style=" background-color: #f2f2f2;">
    <br>
    <h2 style="text-align: center;">Create Review for <b>{{ book.title }}</b> by <b>{{ book.author }}</b></h2>
    <br>

    <form method="POST" class="profile-form">
            <!--Display the star rating, as the unicode filled/unfilled stars based on the rating out of 5 -->
            <div class="star-rating">
                <div style="display:inline; font-size: 18px; margin-right: 10px;">
                </div>
                <div class="star-rating">
                    <!-- lowest rating (1 star) on the left -->
                    <input type="radio" id="star1" name="rating" value="5">
                    <label for="star1">&#9733;</label>
    
                    <input type="radio" id="star2" name="rating" value="4">
                    <label for="star2">&#9733;</label>
    
                    <input type="radio" id="star3" name="rating" value="3">
                    <label for="star3">&#9733;</label>
    
                    <input type="radio" id="star4" name="rating" value="2">
                    <label for="star4">&#9733;</label>
    
                    <input type="radio" id="star5" name="rating" value="1">
                    <label for="star5">&#9733;</label>
                     <!-- highest rating (r star) on the right -->
                </div>
        </div>

        <br>
         <!-- Display the rest of the form (review message) -->
        <div>
            {{ form.review }}
        </div>

        {% csrf_token %}

        <br>
         <!-- Add functionality for creating the review and re-directing to the book_detail view after creation -->
        <div class="form-actions" style="margin: 0 auto; text-align: center;">
            <button type="submit" class="go-back" style="font-size: 0.9em;">
                <i class="fa-solid fa-pencil">  Create</i>
            </button> <br><br>
            <!-- Add functionality for cancel and re-directing to the book_detail view after creation -->
            <a href="{% url 'book_detail' book.pk %}" class="go-back" style="font-size: 0.9em;">
                <i class="fa-solid fa-ban">   Cancel</i>
            </a>
           
        </div>
    </form>
</div>

{% endblock %}