
<!--Ieva sagaitis, ievas@bu.edu -->
<!-- Displays the logout display that a user can then use to log back in, if needed. -->
<!-- project/templates/project/logged_out.html -->

{% extends 'project/base.html' %}
{% block content %}
<br>
<!-- Display the message that states that a user has been logged out -->
<h2 style="margin: 0 auto; text-align: center; font-size: 2em;">You Have Been Logged Out</h2>
<hr style="width: 30%; color: #222; border: 1px solid #222;">

    <!-- Display a button to prompt the user to log back into their profile -->
    <div style="margin: 0 auto; display: flex; justify-content: center; align-items: center; text-align: center;" >
        <h3>Log Back In</h3>
    </div>
    <div style="margin: 0 auto; display: flex; justify-content: center; align-items: center; text-align: center;" class="login-div">
        <a href="{% url 'login' %}" class="login-link" style="margin: 0 auto; background-color: #f6f1f1; padding: 7px; width: 100px; text-align: center; border-radius: 12px; font-size: 16px; border: 1px solid black; font-family: Georgia, 'Times New Roman', Times, serif; text-decoration: none;">
            Login
        </a>
    </div>



{% endblock %}