{% extends 'project/base.html' %}
{% block content %}

<!--Ieva sagaitis, ievas@bu.edu -->
<!-- Displays the login form, in order to log-in a user -->
<!-- project/templates/project/login.html -->

<br>
<br>
<h2 style="margin: 0 auto; text-align: center; font-size: 2em;">Login Into Account</h2>
<hr style="width: 30%; color: #222; border: 1px solid #222;">
<br>
<div style="margin: 0 auto; text-align: center;" class="login-div">
<!-- Display the form that will take in the username and password as a POST request -->
<form method="post" action="{% url 'login' %}" >
    {% csrf_token %}
    <!-- Display the username and password fields -->
    Username:   {{form.username}}
    <br><br>
    Password:   {{form.password}}
    {% if request.GET.next %}
    <input type="hidden" name="next" value="{{request.GET.next}}">
    {% else %}
    <!--Take the logged-in user to the book list view on successful login-->
    <input type="hidden" name="next" value="{% url 'books' %}">
    {% endif %}
    <br><br>
    <input type="submit" value="Login" class="login-input" style="display: block; margin: 0 auto; background-color: #f6f1f1; padding: 7px; width: 100px; text-align: center; border-radius: 12px; font-size: 16px; border: 1px solid black; font-family: Georgia, 'Times New Roman', Times, serif;">
</form>
</div>

<br> 

{% endblock %}