{% extends 'restaurant/base.html' %}

{% load static %}

{% block content %}
<div class="entire-page">
        <div class="information-section">
                <h2>Welcome to Grand Duke's Resturant! <br><br>  The best Eastern European cuisine in the Chicagoland area.</h2> <br> <br>
                <h4>Located at 980 W 75th St. Downers Grove, IL 60516.</h4> <br>
                <div class="hours">
                        <h3>Hours of Operation</h3>
                        
                        <ul>
                                <li>Monday: Closed</li>
                                <li>Tuesday: 11am - 10pm</li>
                                <li>Wednesday: 11am - 10pm</li>
                                <li>Thursday: 11am - 10pm</li>
                                <li>Friday: 11am - 12am</li>
                                <li>Saturday: 11am - 12am</li>
                                <li>Sunday: 11am - 9pm</li>
                        </ul>
                </div>
        </div>
        <div class="photo-section">
                <img src="https://images.otstatic.com/prod1/29095050/4/huge.jpg" alt="Picture of Grand Duke's Interior">
                
        </div>
</div>
{% endblock %}