{% extends 'blog/base.html' %}


{% block content %}
<h1 style="display:flex; justify-content: center;">{{article.title}}</h1>

<!-- print out the context variable called articles -->
<main class="grid-container">
    <article class="featured">
        <h2>{{article.title}}</h2>
        <h3>by {{article.author}} at {{article.published}}</h3>

        {% if article.image_file.url %}
        <img src="{{article.image_file.url}}" alt="{{article.image_file.url}}">
        {% endif %}
        <p>
            {{article.text}}
        </p>
        <h4>
            <a href="{% url 'create_comment' article.pk %}">Add A Comment</a>
        </h4>
    </article>

    <div>
        <h2>Comments</h2>
        <!-- Call the Article's get_comments() method -->
        {% if article.get_comments %}
            {% for c in article.get_comments %}
                <div>
                    <strong>by {{c.author}} at {{c.published}}</strong>
                    <p>
                        {{c.text}}
                    </p>
                </div>
            {% endfor %}

        {% else %}
            <div>
                 <h3>No Comments.</h3>
            </div>
        {% endif %}


    </div>
</main>

{% endblock %}