<!--This is the show_all page, which inherits from the base page
This code is specific for the main '' page
-->

<!--Ieva sagaitis, ievas@bu.edu -->

{% extends 'mini_fb/base.html' %}

{% block content %}

<h1>Facebook Profiles</h1>

<main class="profiles-container">
    <table class="profile-table">
        {% for p in profiles %}
        <tr>
            <td>
                <div class="profile-card">

                    <img src="{{p.image_url}}" alt="{{p.first_name}} {{p.last_name}}" class="profile-image">

                    <h2>{{p.first_name}} {{p.last_name}}</h2>

                    <h3>From {{p.city}}</h3>

                    <h3>Email: {{p.email}}</h3>

                </div>
            </td>
        </tr>
        {% endfor %}
    </table>
</main>
{% endblock %}
