<!--This is the show_all page, which inherits from the base page
This code is specific for the main '' page
-->

<!--Ieva sagaitis, ievas@bu.edu -->

{% extends 'mini_fb/base.html' %}

{% block content %}

<main class="profiles-container">

    {% for p in profiles %}
    <div class="profile-card">

        <a href="{% url 'show_profile' p.pk %}"> 
            <img src="{{p.image_url}}" alt="{{p.first_name}} {{p.last_name}}" class="profile-image">
        </a>

        <a href="{% url 'show_profile' p.pk %}">
            <h2>{{p.first_name}} {{p.last_name}}</h2>
        </a>

        <h3>From {{p.city}}</h3>

        <h3>Email: {{p.email}}</h3>
    </div>
    {% endfor %}
</main>

{% endblock %}

