/* Ieva sagaitis, ievas@bu.edu*/

/*Creates the style sheet for our mini_fb main page*/

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

body {
    background: #a2a8d3;
    font-family: 'Merriweather', serif;
    flex: 1;
}

h1 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 0;
    font-weight: bold;
}

.profiles-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 10px;
    padding: 20px;
}

.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    width: 400px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: #e7eaf6;
    margin-bottom: 20px;
}

.profile-image {
    border-radius: 20%;
    width: 100%;
    height: 300px; 
    max-width: 350px; 
    object-fit: cover;
    margin-bottom: 15px;
}

h2 {
    margin: 0;
}

h3 {
    margin: 5px 0;
}

a {
    text-decoration: none;
    background: #e7eaf6;
}

nav {
    margin: 15px 0;
    display: flex;
    justify-content: center;
    margin-right: 29px;
}

#nav-link {
    padding: 7px;
    border-radius: 8%;
    color: black;
    margin-left: 5px;
}

.individual-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 8px;
    padding: 30px;
    max-width: 600px;
    margin: 0 0 0 60px;
}

.individual-profile img {
    border-radius: 20%;

    max-width: 400px;
    height: 400px; 
    object-fit: cover;
    margin-bottom: 20px;
}

.individual-profile h2 {
    font-size: 29px;
    margin-bottom: 10px;
}

.individual-profile h3 {
    font-size: 18px;
    margin-bottom: 5px;
    color: #555;
}

.individual-profile h4 {
    font-size: 16px;
    color: #777;
    margin-bottom: 20px;
}

.status-message {
    flex: 1;
    background: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    margin-left: 50px;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.status-item {
    margin-bottom: 10px;
}

.profile-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 50px;
    padding: 20px;
}

.profile-form-container {
    max-width: 600px;
    height: 350px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #333;
}

.profile-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-body p {
    margin-bottom: 15px;
    width: 100%;
    text-align: center;
}

.form-actions {
    display: flex;
    justify-content: center;
    width: 100%;
}

.btn {
    display: inline-block;
    padding: 3px 10px;
    background: #e7eaf6;
    color: black;
    border: none;
    border-radius: 8%;
    cursor: pointer;
    text-align: center;
    font-size: 1rem;
    margin-top: 10px;
    margin-right: 10px;
    font-family: 'Merriweather', serif;
    border-radius: 8%;
}

textarea {
    width: 150px;
    height: 30px;
    padding: 5px;
    font-size: 0.85rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Merriweather', serif;
    border-radius: 8%;
}

.status-form-container {
    max-width: 800px;
    height: 250px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.nav-link-status {
    padding: 10px;
    border-radius: 8%;
    color: black;
    background-color: #e7eaf6;
    text-align: center;
    width: 200px;
    cursor: pointer;
    margin-top: 0;
    font-family: 'Merriweather', serif;
    text-decoration: none;
}

.nav-link-cancel {
    display: inline-block;
    padding: 7px;
    border-radius: 8%;
    color: black;
    text-align: center;
    vertical-align: middle;
    line-height: 1;
    background-color: #e7eaf6;
    margin-top: 12px;
    text-decoration: none;
    height: 30px;
    font-size: 16px;
}

.status-img {
    width: 150px;
    height: 150px;
    margin-bottom: 15px;
    display: flex;
    border-radius: 8%;

}

.image-div {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#image-button {
    display: flex;
    justify-content: center;
    margin-left: 75px;
    margin-bottom: 6px;
}

.nav-link-update {
    padding: 10px;
    border-radius: 8%;
    color: black;
    background-color: #e7eaf6;
    text-align: center;
    width: fit-content;
    cursor: pointer;
    margin-right: 15px;
    margin-bottom: 30px;
    font-family: 'Merriweather', serif;
    text-decoration: none;
}

.profile-status-container {
    max-width: 600px;
    height: 250px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


.profile-delete-container {
    max-width: 600px;
    height: 350px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.delete-div {
    text-align: center;
    width: 500px;
    border-radius: 8px;
    background-color: #ececec;
    padding: 10px;
}

.friend-image {
    border-radius: 20%;
    width: 100%;
    height: 150px; 
    max-width: 150px; 
    object-fit: cover;
    margin-bottom: 15px;
}

.friend-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 10px;
    padding: 10px;
}

.friend-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 200px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: #e7eaf6;
    margin-bottom: 20px;
}

.info-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 300px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: #e7eaf6;
    margin-bottom: 30px;
    padding: 10px;
}

.friend-card-suggest{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #a2a8d3;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 200px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.status-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 500px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin: 0 auto;
    padding: 15px;
}

.status-profile-img {
    width: 60px;       
    height: 60px;      
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
    vertical-align: middle;
}

.nav-link-go-back {
    padding: 10px;
    border-radius: 8%;
    color: black;
    background-color: #e7eaf6;
    text-align: center;
    width: fit-content;
    cursor: pointer;
    font-family: 'Merriweather', serif;
    text-decoration: none;
}

.nav-link-go-back-cont {
    display: flex;
    justify-content: center;
}

.user-profile-form-container {
    max-width: 600px;
    height: 350px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
