{% extends 'quotes/base.html' %}

{% load static %}

{% block content %}
        <div style="display: flex; flex-wrap: wrap; gap: 20px; justify-content: center;">
            {% for picture in pictures %}
                <div>
                    <img src="{{picture}}" alt="Photo of Frida Kahlo" style="width: 300px; height: 400px; margin-top: 15px;">
        
                </div>
            {% endfor %}
        </div>

        <div>
            {% for quote in quotes %}
                <div>
                    <p style="padding: 13px;">
                        {{quote}}
                    </p>
                </div>
            {% endfor %}
        </div>

{% endblock %}