{% extends 'quote/base.html' %}

{% load static %}

{% block content %}
    <div style="display: flex; align-items: flex-start;">
        <img src="{% static 'frida-4.jpeg' %}" alt="Picture of Frida Kahlo" style="margin-left:200px; margin-right: 60px; margin-top: 17px; width:500px; height: 600px">
        <p style="line-height: 1.6; max-width: 400px; margin-top: 40px; font-size: 19px"> 
           One of Mexico's greatest painters, Frida Kahlo was born on July 6,
           1907 in Mexico City, Mexico. <br> <br>

           Kahlo was best known for her self-portraits that depict themes such as identity,
           death, nature, and the human body. Her work was best described as surrealism.  <br><br>

            By the early 1990s, Kahlo was not only a recgonized figure in art history, but she
            had also become an icon for the feminist movement. <br><br><br><br>

            Note: This page was created by Ieva Sagaitis for a CS412 Assignment.
        </p>
    </div>
{% endblock %}